@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Layouts/Admin/AdminLayout.cshtml";
    var Kur = ViewBag.Kur as AlisverisSepeti.Models.Dovizkurlari;
}
<form method="POST">
    <table>
        
        <tr>
            <td>
                <b>Doviz Kodu</b>
            </td>
            <td>
                <select name="DovizID">
                    @foreach (var Doviz in ViewBag.Dovizler as List<AlisverisSepeti.Models.Dovizler>)
                    {
                        <option value="@Doviz.DovizId" @if (Kur.DovizId >0) {
                            if (Doviz.DovizId == Kur.DovizId)
                            {
                                 @("selected")
                            }
                                                    }>
                            @Doviz.DovizKodu
                        </option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <b>Doviz Kuru</b>
            </td>
            <td>
                <input type="number" name="Kur" value="@Kur.Kur" step="0.01" /> 
            </td>
        </tr>
        <tr>
            <td>
                <b>Tarih</b>
            </td>
            <td>
                <input type="datetime-local" name="Tarih" value="@Kur.Tarih" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <center><input type="submit" value="@ViewBag.SubmitButtonValue" /></center>
            </td>
        </tr>
       

    </table>


</form>