@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Layouts/Admin/AdminLayout.cshtml";
}

<a href="@Context.Request.Path/OzellikTipleriForm/Add/">Ekle</a>
<table cellspacing="0" border="1" cellpadding="10">
    <thead>
        <tr>
            <th>Ozellik Tipi</th>
            <th>Degisken Tipi</th>
            <th>Durum</th>
            <th>Tanım</th>
            <th>Liste</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var OzellikTipleri in ViewBag.OzellikTipleri as List<AlisverisSepeti.Models.Ozelliktipleri>)
        {
            
        <tr>
            
            <td>@OzellikTipleri.OzellikTipi</td>
            <td>@OzellikTipleri.DegiskenTipiNavigation.DegiskenAdi</td>
            <td>@OzellikTipleri.Durum</td>
            <td>
                @OzellikTipleri.Tanim
            </td>
            <td>
                @(OzellikTipleri.Liste == true ? "Evet" : "Hayır")
            </td>
            <td>
                <a class="sil" href="@Context.Request.Path/Delete/@OzellikTipleri.OzellikTipiId">Sil</a>
                <a href="@Context.Request.Path/OzellikTipleriForm/Update/@OzellikTipleri.OzellikTipiId">Düzenle</a>
            </td>
        </tr>



        }
    </tbody>
</table>