@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Layouts/Admin/AdminLayout.cshtml";
    var UrunSekiller = ViewBag.UrunSekiller as AlisverisSepeti.Models.Urunsekilleri;
}
<form method="POST" enctype="multipart/form-data">
    <table>
        <tr>
            <td>
                <b>Şekil Adı</b>
            </td>
            <td>

                <input type="text" name="UrunSekilAdi" value="@UrunSekiller.UrunSekilAdi" />

            </td>
        </tr>
        
        <tr>
            <td>
                <b>Aktif mi</b>
            </td>

            <td>
                <input type="radio" name="Aktifmi" value="False" checked="@(UrunSekiller.Aktifmi == false)" />
                <input type="radio" name="Aktifmi" value="True" checked="@(UrunSekiller.Aktifmi == true)" />
            </td>
        </tr>
        @if (UrunSekiller.Silindimi == true)
        {
            <tr>
                <td><b>Silindi mi?</b></td>
                <td>
                    <input type="radio" name="Silindimi" value="False" checked="@(UrunSekiller.Silindimi == false)" />
                    <input type="radio" name="Silindimi" value="True" checked="@(UrunSekiller.Silindimi == true)" />
                </td>
            </tr>
        }

        <tr>
            <td>
                <b>Dizilis Sira</b>
            </td>
            <td>
                <input type="number" name="DizilisSira" value="@UrunSekiller.DizilisSira" />

            </td>
        </tr>
        <tr>
            <td colspan="2">
                <center><input type="submit" value="@ViewBag.SubmitButtonValue" /></center>
            </td>
        </tr>


    </table>


</form>