@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Layouts/Admin/AdminLayout.cshtml";
}

<a href="@Context.Request.Path/OzellikDegerleriForm/Add/">Ekle</a>
<table cellspacing="0" border="1" cellpadding="10">
    <thead>
        <tr>
            <th>Ozellik Adi</th>
            <th>Birim</th>
            <th>Degisken Tipi</th>
            <!--<th>Deger</th> degerdil eklenince açılacak-->
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var OzellikDegerleri in ViewBag.OzellikDegerleri as List<AlisverisSepeti.Models.Ozellikdegerleri>)
        {
        <tr>
            
            <td>
                <a href="@Context.Request.Path/@OzellikDegerleri.OzellikDegerId">
                @if (OzellikDegerleri.Ozellik.OzelliklerDils.Count > 0)
                {
                    @OzellikDegerleri.Ozellik.OzelliklerDils.First().OzellikAdi
                }
                else
                {
                    @("Ozellik Adi Yok.")
                }
                </a>
            </td>
            <td>@OzellikDegerleri.Ozellik.Birim</td>
            <td>@OzellikDegerleri.Ozellik.OzellikTipiNavigation.DegiskenTipiNavigation.DegiskenAdi</td>

            <td>
                <a class="sil" href="@Context.Request.Path/Delete/@OzellikDegerleri.OzellikDegerId">Sil</a>
                <a href="@Context.Request.Path/OzellikDegerleriForm/Update/@OzellikDegerleri.OzellikDegerId">Düzenle</a>
            </td>
        </tr>



        }
    </tbody>
</table>