@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Layouts/Admin/AdminLayout.cshtml";
}

<a href="@Context.Request.Path/OzellikGrupDilForm/Add/">Ekle</a>
<table cellspacing="0" border="1" cellpadding="10">
    <thead>
        <tr>
            <th>Grup Adi</th>
            <th>Dil</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var OzellikGrupDil in ViewBag.OzellikGrupDil as List<AlisverisSepeti.Models.OzellikgrupDil>)
        {
        <tr>
            
            <td><a href="@Context.Request.Path/@OzellikGrupDil.OzellikGrupDilId">@OzellikGrupDil.OzellikGrupAdi</a></td>
            <td>@OzellikGrupDil.Dil.DilKodu</td>

            <td>
                <a class="sil" href="@Context.Request.Path/Delete/@OzellikGrupDil.OzellikGrupDilId">Sil</a>
                <a href="@Context.Request.Path/OzellikGrupDilForm/Update/@OzellikGrupDil.OzellikGrupDilId">Düzenle</a>
            </td>
        </tr>



        }
    </tbody>
</table>