@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Layouts/Admin/AdminLayout.cshtml";
    var OzellikGrupDil = ViewBag.OzellikGrupDil as AlisverisSepeti.Models.OzellikgrupDil;
}
<form method="POST" enctype="multipart/form-data">
    <table>
        <tr>
            <td>
                <b>Grup Adi</b>
            </td>
            <td>

                <input type="text" name="OzellikGrupAdi" value="@OzellikGrupDil.OzellikGrupAdi" />

            </td>
        </tr>
        <tr>
            <td>
                <b>Açıklama</b>
            </td>
            <td>

                <textarea name="OzellikGrupAciklama">@OzellikGrupDil.OzellikGrupAciklama</textarea>

            </td>
        </tr>
        <tr>
            <td>
                <b>Dil</b>
            </td>
            <td>
                <select name="DilId">

                    @foreach (var dil in ViewBag.Diller as List<AlisverisSepeti.Models.Diller>)
                    {
                        <option value="@dil.DilId"
                                @if (OzellikGrupDil.DilId != 0) { @if (OzellikGrupDil.DilId == dil.DilId) { @("selected")  }  }>
                            @dil.DilKodu
                        </option>

                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <b>Grup</b>
            </td>
            <td>
                <select name="OzellikGrupId">

                    @foreach (var grup in ViewBag.OzellikGrup as List<AlisverisSepeti.Models.Ozellikgrup>)
                    {
                        <option value="@grup.OzellikGrupId"
                                @if (OzellikGrupDil.OzellikGrupId != 0) { @if (OzellikGrupDil.OzellikGrupId == grup.OzellikGrupId) { @("selected")  }  }>
                            @grup.Ekleyen
                        </option>

                    }
                </select>
            </td>
        </tr>



        <tr>
            <td colspan="2">
                <center><input type="submit" value="@ViewBag.SubmitButtonValue" /></center>
            </td>
        </tr>


    </table>


</form>