@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Layouts/Admin/AdminLayout.cshtml";
    var UrunKategorilerDil = ViewBag.UrunKategorilerDil as AlisverisSepeti.Models.UrunkategorilerDil;
}
<form method="POST" enctype="multipart/form-data">
    <table>
        <tr>
            <td>
                <b>Kategori Adi</b>
            </td>
            <td>

                <input type="text" name="KategoriAdi" value="@UrunKategorilerDil.KategoriAdi" />

            </td>
        </tr>
        <tr>
            <td>
                <b>Kategori</b>
            </td>
            <td>
                <select name="KategoriId">
                    @foreach (var Kategoriler in ViewBag.Kategoriler as List<AlisverisSepeti.Models.Urunkategoriler>)
                    {
                        <option value="@Kategoriler.KategoriId"
                                @(UrunKategorilerDil.KategoriId != 0 && Kategoriler.KategoriId == UrunKategorilerDil.KategoriId ? "selected" : "" )>
                            @Kategoriler.KategoriAdi
                        </option>

                    }
                </select>

            </td>
        </tr>
        <tr>
            <td>
                <b>Dil</b>
            </td>
            <td>
                <select name="DilId">
                    @foreach (var dil in ViewBag.Diller as List<AlisverisSepeti.Models.Diller>)
                    {
                        <option value="@dil.DilId"
                                @(UrunKategorilerDil.DilId != 0 && dil.DilId == UrunKategorilerDil.DilId ? "selected" : "" )>
                            @dil.DilKodu
                        </option>

                    }
                </select>

            </td>
        </tr>
        <tr>
            <td>
                <b>Kategori Açıklama</b>
            </td>
            <td>

                <textarea name="KategoriAciklama">@UrunKategorilerDil.KategoriAciklama</textarea>

            </td>
        </tr>
        <tr>
            <td>
                <b>Page Title</b>
            </td>
            <td>

                <input type="text" name="PageTitle" value="@UrunKategorilerDil.PageTitle" />

            </td>
        </tr>
        <tr>
            <td>
                <b>Page Labels</b>
            </td>
            <td>

                <input type="text" name="PageLabels" value="@UrunKategorilerDil.PageLabels" />

            </td>
        </tr>
        <tr>
            <td>
                <b>Page Keywords</b>
            </td>
            <td>

                <input type="text" name="PageKeywords" value="@UrunKategorilerDil.PageKeywords" />

            </td>
        </tr>
        <tr>
            <td>
                <b>Page Description</b>
            </td>
            <td>

                <textarea name="PageDescription">@UrunKategorilerDil.PageDescription</textarea>

            </td>
        </tr>

        <tr>
            <td colspan="2">
                <center><input type="submit" value="@ViewBag.SubmitButtonValue" /></center>
            </td>
        </tr>


    </table>


</form>